@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
$carbon--theme: $carbon--theme--g100;

@import '~carbon-components/scss/globals/scss/styles.scss';

$screen-m: 40rem;

body {
    background: $ui-background;
}

.c-graph {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;

    .recharts-wrapper {
        margin: auto;
    }

    @media screen and (min-width: $screen-m) {
        .btn--new {
            position: absolute;
            top: 0;
            right: 0;
        }
      }
}

.bx--tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &.tile-neg {
        font-size: rem(20px);
        font-weight: 800;
        color: $support-01;
    }

    &.tile-pos {
        font-size: rem(18px);
        font-weight: 800;
        color: $support-02;
    }

    .tile-legend {
        font-size: rem(12px);
    }

    p {
        display: inline-block;
        margin-top: rem(4px);
    }
}
