@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
$carbon--theme: $carbon--theme--g100;

@import '~carbon-components/scss/globals/scss/styles.scss';

$screen-m: 40rem;

body {
    background: $ui-background;
}

.c-graph {
    position: relative;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $screen-m) {
        .btn--new {
            position: absolute;
            top: 0;
            right: 0;
        }
      }
}